node_modules
dist
.git
*.log
.env
.env.*
!.env.example
!.env.prod.example
coverage
load-tests
docs
test
deploy
*.md
!package.json
.eslintrc*
eslint.config.mjs
jest*.config*
tsconfig*.json
!tsconfig.build.json
!tsconfig.json
